AUTH_LDAP_SERVER=ldap.example.com
AUTH_LDAP_BIND_USER=netbox
AUTH_LDAP_BIND_GROUP=people
AUTH_LDAP_BIND_DC1=example
AUTH_LDAP_BIND_DC2=com
AUTH_LDAP_PASSWORD=password
AUTH_LDAP_USER_DN_GROUP_OBJECT=ou
AUTH_LDAP_USER_DN_GROUP_NAME=people
AUTH_LDAP_USER_STAFF=staff
AUTH_LDAP_USER_SUPERUSER=administrators
AUTH_LDAP_GROUP_SEARCH_ROLE=posixGroup
AUTH_LDAP_GROUP_TYPE=PosixGroupType
AUTH_LDAP_REQUIRE_GROUP=staff
AUTH_LDAP_USER_FLAGS_BY_GROUP_OBJECT=ou
AUTH_LDAP_USER_FLAGS_BY_GROUP_NAME=groups
ACTIVE_DIRECTORY=false
USER_FIRSTNAME_MAP=givenName
USER_LASTNAME_MAP=sn